/* Variables */
:root {
    --background-color: #f5f5f5;
    --content-bg-color: #ffffff;
    --text-color: #333;
    --accent-color: #666;
    --link-bg-color: #f0f0f0;
}

/* Global Styles */
body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: var(--content-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.banner-container {
    width: 100%;               /* Ensures the container takes the full width of its parent */
    overflow: hidden;          /* Prevents any spillover from the image if it's too large */
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 0rem;
}

#bannerImage {
    max-height: 9rem;  /* Adjust this to a value that shows your image without too much cropping */
    width: auto;        /* Let the width adjust automatically based on height */
    height: auto;       /* Allows image to maintain its aspect ratio */
    object-fit: contain; /* Image will scale to fit within its box, without cropping */
    margin: 0 auto; 
}